<%- include('../partials/header') %>
<h1> Looking for a new owner for your shoes ? </h1>
<form action="/sneakers" method="POST">
    <label>Brand:</label>
    <input type="text" name="brand">
    <label>Model:</label>
    <input type="text" name="model">
    <label>Size:</label>
    <select name="size">
        <option value="6">6</option>
        <option value="6.5">6.5</option>
        <option value="7">7</option>
        <option value="7.5">7.5</option>
        <option value="8">8</option>
        <option value="8.5">8.5</option>
        <option value="9">9</option>
        <option value="9.5" selected>9.5</option>
        <option value="10">10</option>
        <option value="10.5">10.5</option>
    </select>
    <label>Selling Price:</label>
    <input type="text" name="ask">
    <input type="submit" value="Sell Now">
</form>